.jumbotron {
  padding-top: 6rem;
  background-color: #0096ec;
}
#Projects {
    padding-top: 8rem;
    background-color: #0096ec;
}
#About {
    padding-top: 15rem;
}
#Contact {
    padding-top: 10rem;
}